<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h1>You searched for : <%= data.userQuery %></h1>
            <% if(data.loggedIn) {%> 
            <h2>You are logged in as : <%= data.username %> </h2> 
            <% } %>
            <ul>

                <% data.searchResults.forEach(result => { %>
                   <li> <%= result %> <li>
                <% }); %> 
            </ul>

        </div>
    </div>
    <script src="/app.js"></script>
</body>
</html>